*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: sans-serif;
    user-select: none;
    overflow: hidden;
}


/* HEADER STYLE FOR WEB PAGE */
.header{
    overflow: hidden;
    padding: 12px 48px;
    background: #103F45;
    position: sticky;
    user-select: none;
    z-index: 999;
    top: 0px; /*-10px*/
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    cursor: pointer;
    user-select: none;
}
.sidetext{
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;
    text-decoration: none;
    position: relative;
    margin-left: 15px;
}
.nav-links button{
    border-radius: 10px;
    cursor: pointer;
    background-color: #3C3100;
    border: none;
    color: #FFD92D;
    padding: 12px 18px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    font-family: sans-serif;
    margin: 0px 20px;
}
.nav-links button.active{
    color: #3C3100;
    background: #FFD92D;
}


/* MAIN CONTENT */
.alert{
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 32px;
    text-align: center;
    color:#470000;
    border-radius: 15px;
    background-color: #F87272;
    padding: 16px;
    word-break: break-all;
    font-family: Roboto, system-ui, sans-serif;
    user-select: none;
}
.closebtn {
    margin-left: 5px;
    float: left;
    color: black;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: white;
}


/* PAYMENT */
.flex-container {
    display: flex;
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 15px;
}
.flex-child{
    flex: 1;
}  
.flex-child:first-child {
    margin-right: 30px;
}


/* CUSTOMER INFORMATION */
.cst{
    font-family: sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    margin-left: 35px;
}
select {
    width: 80%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #f1f1f1;
}
hr{
    border-width: 1px;
    border-style:inset;
    width: 80%;
}
.cstinformation{
    margin: 35px;
}
.cstinformation h5{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cstinformation input{
    width: 80%;
    padding: 11px 20px;
    margin: 5px 0;
    margin-top: 0px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #f1f1f1;
    color: black;

}


/* SHOPPING CART */
.shp{
    font-family: sans-serif;
    font-weight: bolder;
    margin-left: 35px;
}

.items{
    background-color: #f1f1f1;
    margin: 35px;
    height: 100px;
    width: 90%;
    border-radius: 10px;
}
table{
    table-layout: fixed;
    width: 100%;
}
.paymentdetail{
    display: flex;
    flex-direction: column;
    margin: 35px;
    margin-top: 10px;
}
.paymentreceipt{
    margin: 35px;
    margin-top: 10px;
}
.paymentreceipt input{
    cursor: not-allowed;
}
.qrcode{
    margin: 35px;
    margin-top: 10px; 
}
.cardstyle{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.column {
    margin: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px #00000033;
    overflow: hidden;
    width: 200px;
    height: 250px;
    margin-bottom: 9px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-height: 10px;
}
.content img{
    width: 50px;
    height: 55px;
    object-fit: contain;
}
.cardbody {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardbody img{
    width: 780px;
    height: 150px;
    object-fit: contain;
}
.card{
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px 60px;
    margin: 5px 25px;
    background-color: #ddd;
    cursor: not-allowed;
    transition: 0.3s;
    color: #b3b3b3;
    font-weight: bold;
}
.card:hover{
    background: #F87272;
    color: white;
}

.Info-important3 p{
    font-style: italic;
    color: #7e7e7e;
    text-align: center;
    margin-bottom: 80px;
}

/* FOOTER */
.footerads {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #142628;
    color: white;
    text-align: center;
    padding: 16;
    overflow: hidden;
 }
 .nav-links2 a{
     margin: 10px;
     font-size: 25px;
 }



 